.tmp.mk
node_modules
.idea
.DS_Store
.env

*.pyc
.vscode
__pycache__

**/_trial_temp*/*
_trial_temp/
build/
dist/
forge_python_sdk.egg-info/
.coverage
.pytest_cache
test/protocols/ticket/beams/
test/protocols/ticket/pipe/
test/protocols/ticket/proto/
test/protocols/ticket/ticket.itx.json
