{% extends "layout.html" %}
{% block content %}
<section class="hero">
  <figure class="image">
    <img src="https://unsplash.it/1200/600?<%=@product.address %>" style>
  </figure>
</section>

<section class="section">
  <div class="container">
    <h2 class="title">
      {{ event.event_info.title }}
    </h2>
    <div class="tags are-large">
      <span class="tag are-large is-primary">Total tickets：
        {{ event.event_info.total }}</span>
      <span class="tag are-large is-danger">Tickets left：
        {{ event.event_info.remaining }}</span>

    </div>
    <div class="tags are-large">
      {% for tag in event.event_info.tags %}
      <span class="tag">
        {{ tag }}</span>
      {% endfor %}
    </div>

    <div class="content">
      {{ event.event_info.description }}
    </div>



    <form method="POST" action="buy?address={{event.address}}">
      <p class=""><button class="button is-info" drab-click="buy">Buy it now</button></p>
    </form>

  </div>
</section>
{% endblock %}
